<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

<div class="login_page">
  <h2 class="title is-3"><h2><%= t('.sign_up') %></h2>
  <%= image_tag("kasagura-app_icon.jpg", alt: "APP-icon", style: "width: 25vw; height: auto;") %>

  <%= render "devise/shared/links" %>
  
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class: 'label' %>
        <div class="control">
          <%= f.email_field :email, class: 'input', autofocus: true, autocomplete: "email", placeholder: "メールアドレスを入力してください。" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password, class: 'label' %>
          <% if @minimum_password_length %>
          <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
          <% end %>
        <%= f.password_field :password, class: 'input', autocomplete: "new-password", placeholder: "パスワードを入力してください。" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: 'label' %>
        <%= f.password_field :password_confirmation, class: 'input', autocomplete: "new-password", placeholder: "パスワードを入力してください。" %>
      </div>

      <div>
        <%= f.submit t('.sign_up'), class: "button is-primary is-outlined is-rounded" %>
      </div>
    <% end %>

</div>
