<h3 class="title is-3 has-text-centered">確認画面</h3>
<div class="box" style="max-width: 600px; padding: 30px; margin: 0 auto;">
  <div class="block mb-3">

    <p class="mb-2">
      名前：<%= @frame.name %>
    </p>
    <p class="mb-2">
      種類：<%= @frame.kind %>
    </p>
    <p class="mb-2">
      在庫数：<%= @frame.inventory %>
    </p>
    <p class="mb-5">
      傘骨アラート：<%= @frame.frame_alert.quantity %>個以下になった時アラートで表示
    </p>

    <%= form_with(model: @frame, local: true) do |form| %>
      <%= form.hidden_field :name %>
      <%= form.hidden_field :kind %>
      <%= form.hidden_field :inventory %>
      <%= form.hidden_field :frame_alert_id %>
      <div class="block mb-3">
        <%= link_to "戻る", new_frame_path, class: "button is-primary is-outlined is-rounded" %>
        <%= form.submit "登録", class: "button is-primary is-outlined is-rounded" %>
      </div>
    <% end %>
  </div>
</div>