<h3>確認画面</h3>

<div class="edit_confirm">
  <%= form_with(url: modify_frames_path, method: :patch, local: true) do |form| %>
    <% @changed_frames.each do |frame| %>
      <div class="inline-block_frame">
        <p>傘骨名：<%= frame.name %></p>
        <p>種類：<%= frame.kind %></p>
        <% if @data_table[frame.id].present? %>
          <p>在庫数：<%= @data_table[frame.id] %><%= @data_table[frame.id].to_i <= 0 ? "個減らす" : "個追加する" %></p>
        <% end %>
        <p>傘骨アラート：<%= frame.frame_alert.quantity %>個</p>

        <%= form.hidden_field "frame[#{frame.id}][name]", value: frame.name %>
        <%= form.hidden_field "frame[#{frame.id}][kind]", value: frame.kind %>
        <%= form.hidden_field "frame[#{frame.id}][inventory]", value: frame.inventory %>
        <%= form.hidden_field "frame[#{frame.id}][frame_alert_id]", value: frame.frame_alert_id %>
      </div>
    <% end %>
    <br><%= link_to "戻る", :back, class: "btn" %>
    <%= form.submit "登録" %>
  <% end %>
</div>
