<div class="container">
  <%= form_with(url: edit_confirm_frames_path, local: true) do |form| %>
    <% @frames.each do |frame| %>
      <div class="inline-block_frame">
        <p>傘骨名：<%= frame.name %></p>
        <p><%= frame.id %></p>
        <p>種類：<%= frame.kind %></p>
        <p>在庫数：<%= frame.inventory %>個</p>
        <%= form.number_field :inventory, multiple: true, name: "frame[#{frame.id}][inventory]", value: frame.inventory %>
        <p>傘骨アラート：<%= frame.frame_alert.quantity %>個</p>
        <%= form.collection_select "frame[#{frame.id}][frame_alert_id]", FrameAlert.all, :id, :quantity, multiple: true, selected: frame.frame_alert.id %>
        <%= link_to '削除', frame_path(frame.id), method: :delete, data: { confirm: '本当に削除しますか？'} %>
      </div>
    <% end %>
    <%= form.submit %>
  <% end %>
</div>
<% if current_user.try(:admin?) %>
<%= link_to "傘骨新規登録", new_frame_path %>
<% end %>