<h3>傘骨一覧</h3>
<%# もう少し整える %>

  <% if current_user.try(:admin?) %>
    <%= link_to "傘骨新規登録", new_frame_path %>
  <% end %>
  <%= form_with(url: edit_confirm_frames_path, local: true) do |form| %>

    <div class="columns is-mobile is-multiline is-centered is-variable is-8-desktop">
      <% @frames.each do |frame| %>
        <div class="column is-two-fifths-desktop is-half-mobile is-narrow">
          <% if frame.inventory <= frame.frame_alert.quantity %>
            <span class="tag is-danger is-light">在庫不足</span>
          <% end %>
          <p>傘骨名：<%= frame.name %></p>
          <p>種類：<%= frame.kind %></p>
          <p>在庫数：<%= frame.inventory %>個</p>

          <%= form.number_field :inventory, multiple: true, name: "frame[#{frame.id}][inventory]", placeholder: "負数入力で減少" %>
          <p>傘骨アラート：<%= frame.frame_alert.quantity %>個
          <%= form.collection_select "frame[#{frame.id}][frame_alert_id]", FrameAlert.all, :id, :quantity, multiple: true, selected: frame.frame_alert.id %></p>

          <%= link_to "削除", frame_path(frame.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "button is-danger is-inverted" %>
        </div>
      <% end %>
      </div>
    <br><%= form.submit "確認", class: "button is-primary is-outlined is-rounded" %>
  <% end %>
