<h3 class="title is-3 has-text-centered">傘骨新規作成</h3>

<%= form_with(model: @frame, local: true, url: confirm_frames_path) do |form| %>
  <% if @frame.errors.any? %>
    <div id="error_explanation">
      <h2><%= @frame.errors.count %>件のエラーがあります！</h2>
      <ul>
        <% @frame.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <ul>
    </div>
  <% end %>

  <div class="box" style="max-width: 500px; padding:50px; margin: 0 auto;">
    <div class="block mb-3">

      <p class="mb-5">
          名前：<%= form.text_field :name %>
        <%= form.select :kind, [['長傘', '長傘'], ['折り畳み', '折り畳み']], prompt: "種類選択" %>
      </p>
      <p class="mb-6">
          在庫数：<%= form.text_field :inventory %>
        <%= form.collection_select :frame_alert_id, FrameAlert.all, :id, :quantity, prompt: "アラート選択" %>
      </p>

      <%= link_to "戻る", frames_path, class: "button is-primary is-outlined is-rounded" %>
      <%= form.submit "確認", class: "button is-primary is-outlined is-rounded" %>
    </div>
  </div>
<% end %>
