<h3 class="title is-3 has-text-centered">確認画面</h3>
<p class="mb-5 has-text-centered">
  以下の内容で登録します
</p>

<div class="box" style="max-width: 600px; padding: 30px; margin: 0 auto;">
  <div class="block mb-3">

    <p class="mb-2">
      商品名：<%= @product.name %>
    </p>
    <p class="mb-2">
      カテゴリー名：<%= @selected_category.name %>
    </p>

    <% @product.taggings.each do |tagging| %>
    <p class="mb-2">
        タグ：<%= tagging.tag.name %>
      </p>
    <% end %>

    <%= image_tag @product.image.variant(resize: '200x200') %>
    <p class="mb-2">
      在庫数：<%= @product.stock %>本
    </p>
    <p class="mb-2">
      在庫アラート：<%= @selected_alert.quantity %>
      <%= @selected_alert.quantity.to_i == 0 ? "本(アラートで表示しない)" : "本以下になった時アラートで表示" %>
    </p>

    <p class="mb-5">
      傘骨：<%= @selected_frame.name %>
    </p>

    <%= form_with(model: @product, local: true) do |form| %>
      <%= form.hidden_field :image, value: form.object.image.signed_id %>
      <%= form.hidden_field :name %>
      <%= form.hidden_field :stock %>
      <%= form.hidden_field :category_id %>
      <%= form.hidden_field :frame_id %>
      <%= form.hidden_field :product_alert_id %>

      <% @product.taggings.each do |tagging| %>
        <%= form.hidden_field "tag_id[]", multiple: true, name: "product[tag_id][]", value: tagging.tag_id  %>
      <% end %>

      <div class="block mb-5">
        <%= link_to "戻る", :back, class: "button is-primary is-outlined is-rounded" %>
        <%= form.submit "登録", class: "button is-primary is-outlined is-rounded" %>
      </div>
    <% end %>

  </div>
</div>
