<h3>確認画面</h3>

<div class="product">
  <p>商品名：<%= @product.name %></p>
  <% if @product.image.attached? %>
    <%= image_tag @product.image.variant(resize: '200x200') %>
  <% else %>
    <P>no image</p>
  <% end %>

  <p>在庫数：<%= @product.stock %>本</p>
  <p>カテゴリー名：<%= @selected_category %></p>
  <p>傘骨：<%= @selected_frame.name %></p>
  <p>在庫アラート：<%= @selected_alert %>本以下になった時アラートで表示</p>

  <% @product.taggings.each do |tagging| %>
    <p>タグ：<%= tagging.tag.name %></p>
  <% end %>
</div>

<%= form_with(model: @product, local: true) do |form| %>
  <%= form.hidden_field :image, value: form.object.image.signed_id %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :stock %>
  <%= form.hidden_field :category_id %>
  <%= form.hidden_field :frame_id %>
  <%= form.hidden_field :product_alert_id %>
  <% @product.taggings.each do |tagging| %>
    <%= form.hidden_field "tag_id[]", multiple: true, name: "product[tag_id][]", value: tagging.tag_id  %>
  <% end %>
  <br><%= link_to "戻る", :back, class: "btn" %>
  <%= form.submit "登録" %>
<% end %>
