<h3>商品編集</h3>
<%= javascript_pack_tag 'product/edit_found' %>
  <% if @is_no_change %>
    更新するものがありません
  <% end %>
  <%= form_with(url: edit_confirm_products_path, local: true) do |form| %>
    <% @products.each do |product| %>
        <p>商品名：<%= product.name %>
        <%= form.text_field :name, multiple: true, name: "product[#{product.id}][name]", placeholder: "商品名編集" %></p>
        <% if product.tags.present? %>
          <p>タグ：<%= product.tags.pluck(:name).join(',') %></p>
        <% end %>
        <% if product.product_alert.quantity >= product.stock %>
          <p><%= flash[:product_alert] %></p>
        <% end %>
        <%= image_tag product.image.variant(resize: '200x200') %>

        <p>在庫数：<%= product.stock %></p>
        <p><%= form.number_field :stock, multiple: true, name: "product[#{product.id}][stock]", placeholder: "負数入力で減少" %>
        戻り:<%= form.check_box :back_stock, {}, "true", "false" %></p>
        <p>(開発時の確認用)傘骨数<%= product.frame.inventory %>本</p>

        <%= product.category.name %>
      <% if current_user.try(:admin?) %>
        <%= form.collection_select "product[#{product.id}][category_id]", Category.all, :id, :name, multiple: true, selected: product.category.id %>
        <%= form.collection_select "product[#{product.id}][product_alert_id]", ProductAlert.all, :id, :quantity, multiple: true, selected: product.product_alert.id %>
        <%= form.collection_check_boxes "product[#{product.id}][tag_id]", Tag.all, :id, :name do |builder| %>
          <p><%= builder.label %>
          <%= builder.check_box(checked: product.tags.include?(builder.object), class: "single-checkbox", id: "product_#{product.id}_tag_#{builder.object.id}") %></p>
        <% end %>
        <%= link_to "削除", product_path(product.id), method: :delete, data: { confirm: "本当に削除しますか？" } %>
      <% end %>

    <% end %>
    <br><%= link_to "戻る", :back, class: "btn" %>
    <%= form.submit "確認" %>
  <% end %>
