<h3 class="title is-4">商品アラート</h3>
<div class="columns is-multiline is-mobile is-centered">
  <% @products.each do |product| %>
    <% if product.product_alert.quantity != 0 && product.product_alert.quantity >= product.stock %>
      <div class="column is-narrow mb-5" style="width: 130px; height: 130px;">
        <div class="alert" style="width: 120px; height: 120px;">
          <%= product.name %><br>
          <% if product.image.attached? %>
            <%= image_tag product.image.variant(resize: '70x70') %>
          <% else %>
            <p>no image</p>
          <% end %>
          <span class="tag is-danger is-light">在庫不足</span>
          <%= product.stock %>本<br>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<h3 class="title is-4">傘骨アラート</h3>
<% @frames.each do |frame| %>
  <% if frame.inventory != 0 && frame.inventory < frame.frame_alert.quantity %>
    <%= frame.kind %>
    <%= frame.name %>
    残数：<%= frame.inventory %>
    <br>
  <% end %>
<% end %>

<% # 検索画面 %>
<%= form_tag products_path, method: :get, local: true do %>
  <div class="block mt-5 mb-5">
    <p>タグ検索：
      <%= collection_check_boxes(:tag, :tag_ids, Tag.all, :id, :name) do |cb| %>
        <label>
          <%= cb.check_box %>
          <span><%= cb.check_box + cb.text %></span>
        </label>
      <% end %>
      <%= submit_tag "検索", class: "button is-primary is-outlined is-rounded is-small" %>
    </p>
  </div>
<% end %>

<%= form_tag products_path, method: :get, local: true do %>
  <div class="block mt-5 mb-5">
    <p>カテゴリ検索：
      <%= collection_check_boxes(:frame, :frame_ids, Frame.distinct.pluck(:kind), :to_s, :to_s) do |cb| %>
        <label>
          <%= cb.check_box %>
          <span><%= cb.check_box + cb.text %></span>
        </label>
      <% end %>
      <label>
        <%= check_box_tag "products_none" %><span>在庫なし</span>
      </label>
    </p>
  </div>

  <div class="columns is-multiline is-mobile is-centered is-variable is-8-desktop">
    <% @categories.each do | category | %>
      <div class="column is-narrow">
        <div class="box">
          <label for="category_category_ids_<%= category.image.id %>">
            <% if category.image.attached? %>
              <%= image_tag category.image.variant(resize: '150x150')%>
            <% else %>
              <p>no image</p>
            <% end %>
            <%= collection_check_boxes(:category, :category_ids, [category], :id, :name) do |cb| %><br>
              <%= cb.check_box %>
              <span><%= cb.check_box + cb.text %></span>
            <% end %>
          </label>
        </div>
      </div>
    <% end %>
  </div>

  <div class="block">
    <%= submit_tag "検索", class: "button is-primary is-outlined is-rounded" %>
  </div>
<% end %>
