<div class="check_box">
  <%= form_tag products_path, method: :get, local: true do %>
    <p>カテゴリ</p>
    <% @categories.each do | category | %>
      <% if category.image.attached? %>
        <%= image_tag category.image.variant(resize: '200x200') %>
      <% else %>
        <p>no image</p>
      <% end %>
    <% end %>
    <br>
    <%= collection_check_boxes(:category, :category_ids, Category.all, :id, :name) %> 

    <br>
    <p>種類</p>
    <%= collection_check_boxes(:frame, :frame_ids, Frame.distinct.pluck(:kind), :to_s, :to_s) %>
    
    <br>
    <%= submit_tag "検索" %> 
  <% end %>
</div>

