<h3>傘新規登録</h3>
<%= form_with(model: @product, local: true, url: confirm_products_path ) do |form| %>
  <% if @product.errors.any? %>
  <div id="error_explanation">
    <h2><%= @product.errors.count %>件のエラーがあります！</h2>
    <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    <ul>
  </div>
  <% end %>

  <div class="product">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="product">
    <%= form.label :image %>:
    <%= form.file_field :image, direct_upload: true %>
  </div>
  <div class="product">
    <%= form.label :stock %>:
    <%= form.text_field :stock %>
  </div>
  <div class="product">
    <%= form.label :category_id %>:
    <%= form.collection_select :category_id, Category.all, :id, :name, prompt: "カテゴリー選択" %>
  </div>
  <div class="product">
  <%= form.label :tag_id %>
  <% Tag.all.each do |tag| %>
    <%= tag.name %>:
    <%= form.check_box :tag_id, { multiple: true }, tag.id, nil %>
  <% end %>
  </div>
  <div class="product">
    <%= form.label :frame_id %>:
    <%= form.select :frame_id, grouped_options_for_select({
      "長傘" => Frame.where(kind: 'Tails').pluck(:name, :id),
      "折り畳み" => Frame.where(kind: 'Heads').pluck(:name, :id)
    }), prompt: "フレームを選択" %>
  </div>
  <div class="product">
    <%= form.label :product_alert_id %>:
    <%= form.collection_select :product_alert_id, ProductAlert.all, :id, :quantity, prompt: "カテゴリー選択" %>
  </div>
  <%= form.submit "確認" %>
<% end %>

<%= link_to 'BACK', products_path %>