<%= form_with(model: @product, local: true) do |form| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= @product.errors.count %>件のエラーがあります！</h2>
      <ul>
        <%= @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>:
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :image %>:
    <%= form.file_field :image %>
  </div>
  <div>
    <%= form.label :stock %>:
    <%= form.text_field :stock %>
  </div>
  <div>
    <%= form.label :category_id %>:
    <%= form.collection_select :category_id, Category.all, :id, :name, prompt: "カテゴリー選択" %>
  </div>
  <div>
    <%= form.label :frame_id %>:
    <%= form.collection_select :frame_id, Frame.all, :id, :name, prompt: "カテゴリー選択" %>
  </div>
  <div>
    <%= form.label :product_alert_id %>:
    <%= form.collection_select :product_alert_id, ProductAlert.all, :id, :quantity, prompt: "カテゴリー選択" %>
  </div>
  <%= form.submit %>
<% end %>