<h3 class="title is-3 pt-5 has-text-centered">在庫検索結果</h3>

<% # 追加の検索 %>
<%= form_tag products_path, method: :get, local: true do %>
  <div class="block block_m_auto mt-5 mb-5">
    <p class="mb-4">
      <span class="kasagura_category_tag">タグ検索：</span>
      <%= collection_check_boxes(:tag, :tag_ids, Tag.all, :id, :name) do |cb| %>
        <label>
          <%= cb.check_box %>
          <span><%= cb.check_box + cb.text %></span>
        </label>
      <% end %>
    </p>
      <%= submit_tag "検索", class: "button is-primary is-outlined is-rounded is-small" %>
  </div>
<% end %>

  <%= form_tag products_path, method: :get, local: true do %>
  <div class="block block_m_auto mt-5 mb-5">
    <p class="search_result_flex">
      <span class="kasagura_category_tag">カテゴリ：</span>
      <span class="search_result_category_tag">

        <%= collection_check_boxes(:category, :category_ids, Category.all, :id, :name) do |cb| %>
          <label class="is-multiline is-mobile mb-5">
            <%= cb.check_box %>
            <span><%= cb.check_box + cb.text %></span>
          </label>
        <% end %>

      </span>
    </p>
    <p class="mb-4">
      <span class="kasagura_category_tag">種類：</span>

      <%= collection_check_boxes(:frame, :frame_ids, Frame.distinct.pluck(:kind), :to_s, :to_s) do |cb| %>
        <label>
          <%= cb.check_box %>
          <span><%= cb.check_box + cb.text %></span>
        </label>
      <% end %>

      <label>
        <%= check_box_tag "products_none" %><span>在庫なし</span>
      </label>
    </p>

    <%= submit_tag "検索", class: "button is-primary is-outlined is-rounded is-small" %>
    </div>
  <% end %>

<% # 選択されたカテゴリ名/種類表示 %>
<div class="block">
  <a>検索結果：</a>
  <% if @categories.present? %>
    <% category_names = @categories.pluck(:name) %>
    <%= category_names.join(', ') %>
  <% end %>
  <% if @frames.present? %>
    <% frame_kinds = @frames.distinct.pluck(:kind) %>
    <%= frame_kinds.join(', ') %>
  <% end %>
  <% if @products_none.present? %>
    在庫なし
  <% end %>
  <% if @tags_search.present? %>
    <%= @tags_search.distinct.pluck(:name).join(',') %>
  <% end %>
</div>

<% # 検索結果・編集選択 %>
<%= form_tag edit_found_products_path, local: true do %>

  <% if @products_search && @products_search.empty? %>
    <a>検索条件に合致する商品はありません。条件を変更して、再検索を行ってください。</a>

  <% elsif @products_search.present? %>
    <div class="columns is-multiline is-mobile is-centered is-variable is-8-desktop">
      <% @products_search.each do |product| %>
        <div class="column is-narrow">
          <div class="box">

            <label for="select_products_<%= product.id%>">
              <% if current_user.try(:admin?) || current_user.try(:editor?) %>
                <label>
                  <%= check_box_tag "select_products[]", product.id, false, id: "select_products_#{product.id}" %>
                  <span><%= product.name %></span>
                </label>
              <% else %>
                <%= product.name %><br>
              <% end %>

              <div class="block mt-3 mb-2">
                <% if product.image.attached? %>
                  <%= image_tag product.image.variant(resize: '200x200') %>
                <% else %>
                  <p>no image</p>
                <% end %>
              </div>
            </label>

            <% if product.product_alert.quantity != 0 && product.product_alert.quantity >= product.stock %>
              <span class="tag is-danger is-light">在庫不足</span>
            <% elsif product.product_alert.quantity == 0 %>
              <span class="tag is-link is-light">アラート設定数ゼロ</span>
            <% end %>
            <%= product.stock %>本<br>

          </div>
        </div>
      <% end %>
    </div>

  <% elsif @categories.present? %>
    <div class="columns is-multiline is-mobile is-centered is-variable is-8-desktop">
      <% @categories.each do |category| %>
        <% category.products.each do |product| %>
          <div class="column is-narrow">
            <div class="box">

              <label for="select_products_<%= product.id%>">
                <% if current_user.try(:admin?) || current_user.try(:editor?) %>
                  <label>
                    <%= check_box_tag "select_products[]", product.id, false, id: "select_products_#{product.id}" %>
                    <span><%= product.name %></span>
                  </label>
                <% else %>
                  <%= product.name %><br>
                <% end %>

                <div class="block mt-3 mb-2">
                  <% if product.image.attached? %>
                    <%= image_tag product.image.variant(resize: '200x200') %>
                  <% else %>
                    <p>no image</p>
                  <% end %>
                </div>
              </label>

              <% if product.product_alert.quantity != 0 && product.product_alert.quantity >= product.stock %>
                <span class="tag is-danger is-light">在庫不足</span>
              <% elsif product.product_alert.quantity == 0 %>
                <span class="tag is-link is-light">アラート設定数ゼロ</span>
              <% end %>
              <%= product.stock %>本<br>

            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  <% elsif @frames.present? %>
    <div class="columns is-multiline is-mobile is-centered is-variable is-8-desktop">
      <% @frames.each do |frame| %>
        <% frame.products.each do |product| %>
          <div class="column is-narrow">
            <div class="box">

              <label for="select_products_<%= product.id %>">
                <% if current_user.try(:admin?) || current_user.try(:editor?) %>
                  <label>
                    <%= check_box_tag "select_products[]", product.id, false, id: "select_products_#{product.id}" %>
                    <span><%= product.name %></span>
                  </label>
                <% else %>
                  <%= product.name %><br>
                <% end %>

                <div class="block mt-3 mb-2">
                  <% if product.image.attached? %>
                    <%= image_tag product.image.variant(resize: '200x200') %>
                  <% else %>
                    <p>no image</p>
                  <% end %>
                </div>
              </label>

              <% if product.product_alert.quantity != 0 && product.product_alert.quantity >= product.stock %>
                <span class="tag is-danger is-light">在庫不足</span>
              <% elsif product.product_alert.quantity == 0 %>
                <span class="tag is-link is-light">アラート設定数ゼロ</span>
              <% end %>
              <%= product.stock %>本<br>

            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  <% elsif @products_none.present? %>
    <div class="columns is-multiline is-mobile is-centered is-variable is-8-desktop">
      <% @products_none.each do |product| %>
        <div class="column is-narrow">
          <div class="box">

              <label for="select_products_<%= product.id%>">
                <% if current_user.try(:admin?) || current_user.try(:editor?) %>
                  <label>
                    <%= check_box_tag "select_products[]", product.id, false, id: "select_products_#{product.id}" %>
                    <span><%= product.name %></span>
                  </label>
                <% else %>
                  <%= product.name %><br>
                <% end %>
                <div class="block mt-3 mb-2">
                  <% if product.image.attached? %>
                    <%= image_tag product.image.variant(resize: '200x200') %>
                  <% else %>
                    <p>no image</p>
                  <% end %>
                </div>
              </label>

              <% if product.product_alert.quantity == 0 %>
                <span class="tag is-link is-light">アラート設定数ゼロ</span>
                <%= product.stock %>本
              <% else %>
                <span class="tag is-danger is-light">在庫不足</span>
                <%= product.stock %>本<br>

              <% end %>
          </div>
        </div>
      <% end %>
    </div>

  <% elsif @tags_search.present? %>
    <div class="columns is-multiline is-mobile is-centered is-variable is-8-desktop">
      <% @tags_search.each do |tag| %>
        <% tag.products.each do |product| %>
          <div class="column is-narrow">
            <div class="box">

              <label for="select_products_<%= product.id%>">
                <% if current_user.try(:admin?) || current_user.try(:editor?) %>
                  <label>
                    <%= check_box_tag "select_products[]", product.id, false, id: "select_products_#{product.id}" %>
                    <span><%= product.name %></span>
                  </label>
                <% else %>
                  <%= product.name %><br>
                <% end %>
                <div class="block mt-3 mb-2">
                  <% if product.image.attached? %>
                    <%= image_tag product.image.variant(resize: '200x200') %>
                  <% else %>
                    <p>no image</p>
                  <% end %>
                </div>
              </label>

              <% if product.product_alert.quantity != 0 && product.product_alert.quantity >= product.stock %>
                <span class="tag is-danger is-light">在庫不足</span>
              <% elsif product.product_alert.quantity == 0 %>
                <span class="tag is-link is-light">アラート設定数ゼロ</span>
              <% end %>
              <%= product.stock %>本<br>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if current_user.try(:admin?) || current_user.try(:editor?) %>
    <div class="buttons is-centered mb-6">
      <%= submit_tag "編集・追加", class: "button is-primary is-outlined is-rounded" %>
    </div>
  <% end %>
<% end %>
