<h1>在庫検索結果</h1>

# 追加の検索ができるプルダウン
# デザインと傘の種類

# 検索画面で何を選択したか表示する
<p>検索結果</p>


<% case %>
<% when @categories.present? && @frames.present? %>
  <% Product.joins(:category, :frame).where(categories: {id: @categories}, frames: {id: @frames}).each do |product| %>
    <%= product.name %>
    <% if product.image.attached? %>
      <%= image_tag product.image.variant(resize: '200x200') %>
    <% else %>
      <p>no image</p>
    <% end %>
    <%= product.stock %>
  <% end %>

<% when @categories.present? %>
  <% @categories.each do |category| %>
    <% category.products.each do |product| %>
      <%= product.name %>
      <% if product.image.attached? %>
        <%= image_tag product.image.variant(resize: '200x200') %>
      <% else %>
        <p>no image</p>
      <% end %>
      <%= product.stock %>
    <% end %>
  <% end %>

<% when @frames.present? %>
  <% @frames.each do |frame| %>
    <% frame.products.each do |product| %>
      <%= product.name %>
      <% if product.image.attached? %>
        <%= image_tag product.image.variant(resize: '200x200') %>
      <% else %>
        <p>no image</p>
      <% end %>
      <%= product.stock %>
    <% end %>
  <% end %>
<% end %>