<!DOCTYPE html>
<html>
  <head>
    <title>Kasagura</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>

  <div class="container">
    <body>
      <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <%= link_to "在庫検索", root_path %>
        <%= link_to "パーツ情報", frames_path %>
        <% if current_user.try(:admin?) %>
          <%= link_to "傘新規登録", new_product_path %>
          <%= link_to "ユーザ管理", rails_admin_path %>
        <% end %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path %>
        <%= link_to "ログイン", new_user_session_path %>
      <% end %>

      <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>

      <%= yield %>
    </body>
  </div>
</html>
